<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vente aux enchères</title>
    <link href="assetsTemplate/css/bootstrap.min.css" rel="stylesheet">
    <link href="assetsTemplate/css/font-awesome.min.css" rel="stylesheet">
    <link href="assetsTemplate/css/datepicker3.css" rel="stylesheet">
    <link href="assetsTemplate/css/styles.css" rel="stylesheet">

    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <span>Vente</span> AUX Encheres</a>

            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <ul class="nav menu">
            <li>
                <a href="#" onclick="viewStatistique();">
                    <em class="fa fa-bar-chart">&nbsp;</em> Statistique</a>
            </li>
            <li>
                <a href="#" onclick="commission();">
                    <em class="fa fa-gears">&nbsp;</em> Parametre commission</a>
            </li>
            <li>
                <a href="#" onclick="listeCategorie();">
                    <em class="fa fa-dashboard">&nbsp;</em> Catégorie</a>
            </li>
            <li>
                <a href="#" onclick="listeProduit();">
                    <em class="fa fa-list">&nbsp;</em> Produit</a>
            </li>
            <li>
                <a href="#" onclick="parametreEnchereAdmin();">
                    <em class="fa fa-wrench">&nbsp;</em> Paramètre durée enchère</a>
            </li>
            <li>
                <a href="#" onclick="listeDemande();">
                    <em class="fa fa-check">&nbsp;</em> Validation compte</a>
            </li>
            <li>
                <a href="#" onclick="logout();">
                    <em class="fa fa-user">&nbsp;</em> Logout</a>
            </li>
        </ul>
    </div>
    <!--/.sidebar-->

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

        <div id="contenu">

        </div>
        <br>
        <div id="contenu1">

        </div>
        <!--/.row-->




        <!--/.col-->
        <div class="col-sm-12">
            <center>
                <h4>
                    <p class="back-link">Groupe 52:
                        <a href="https://www.medialoot.com">1502,1391</a>
                    </p>
                </h4>
            </center>
        </div>
    </div>
    <!--/.row-->
    </div>
    <!--/.main-->

    <script src="assetsTemplate/js/jquery-1.11.1.min.js"></script>
    <script src="assetsTemplate/js/bootstrap.min.js"></script>

    <script src="js/highcharts.js"></script>
    <script src="assetsTemplate/js/easypiechart.js"></script>
    <script src="assetsTemplate/js/easypiechart-data.js"></script>
    <script src="assetsTemplate/js/bootstrap-datepicker.js"></script>
    <script src="assetsTemplate/js/custom.js"></script>
    <script src="mesJs/enchere.js"></script>
    <script src="js/index.js"></script>

</body>

</html>