<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>
	<link href="assetsTemplate/css/bootstrap.min.css" rel="stylesheet">
	<link href="assetsTemplate/css/datepicker3.css" rel="stylesheet">
	<link href="assetsTemplate/css/styles.css" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<style>
		body{
			
			background-color: #778899;
		}
	</style>
</head>

<body >
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4" style="border-radius: 10% / 50%;">
			<div class="login-panel panel panel-default" style="margin-top: 80px; background-color: #DCDCDC;">
				<p><center><h3>LOGIN</h3></center></p>
				<div class="panel-body">
					<b><p id="message" style="color:red;"></p></b>
					<form role="form">
						<fieldset>
							<div class="form-group">
								<label>Nom</label>
								<input id ="email" th:value="Miora" class="form-control" placeholder="Identifiant" name="email" type="text" autofocus="">
							</div>
							<div class="form-group">
								<label>Mot de passe</label>
								<input id="pwd" th:value="miora" class="form-control" placeholder="Mot de passe" name="password" type="password" value="">
							</div>
							<button type="button" class="btn btn-primary btn-block"  style=" color: #778899;" onclick="traitementLogin();">Log in</button>
					</form>
				</div>
			</div>
		</div>
		<!-- /.col-->
	</div>
	<!-- /.row -->
	<script src="assetsTemplate/js/jquery-1.11.1.min.js"></script>
	<script src="assetsTemplate/js/bootstrap.min.js"></script>
	<script src="mesJs/enchere.js"></script>
</body>

</html>